%section {
  padding: 70px 0;

  &:nth-child(2n) {
    background-color: $lightgrey;
  }

  p + p {
    margin-top: 1em;
  }

  @include tablet-p {
    padding: 50px 0;
  }
}

.moar-gold,
.get-gold,
.advantages {
  @extend %section;
}

.moar-gold {
  &__list {
    display: flex;
    justify-content: space-between;
    max-width: 885px;
    margin: 60px auto 0;

    @include mobile {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__item {
    p {
      max-width: 155px;
      margin: 0 auto;
      text-align: center;
    }

    @include mobile {
      margin-left: 15px;
      margin-right: 15px;
      margin-bottom: 3em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__image {
    margin-bottom: 2em;

    img {
      border-radius: 50%;
      border: 4px solid #f4f4f8;
      display: block;
      margin: 0 auto;
      box-shadow: 0 0 22px rgba(0, 0, 0, .24);
    }

    @include mobile {
      margin-bottom: 1.5em;
    }
  }

  &__dots {
    display: flex;
    justify-content: space-between;
    width: 41px;
    padding: 95px 0 0;

    @include tablet-p {
      display: none;
    }
  }
}

.dot {
  @include size(7px);
  border-radius: 50%;
  background-color: $textcolor;

  &--1 {
    opacity: .3
  }

  &--2 {
    opacity: .5;
  }
}

.get-gold {
  padding: 50px 0;
  @include image-jpg(coinsbg);
  background-position: 0 50%;

  @include tablet-p {
    background-image: none !important;
  }
}

.profit {
  padding: 0 40px 0 25px;
  border: 1px solid $grey;
  background-color: #fff;
  display: flex;
  min-height: 160px;
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;

  & + & {
    margin-top: 20px;
  }

  &__image {
    width: 135px;
    flex-shrink: 0;
    text-align: center;

    @include mobile {
      display: none;
    }
  }

  &__text {
    flex-grow: 1;
    padding-left: 40px;
    padding-right: 40px;
    min-width: 325px;

    &-label {
      color: $grey;
    }

    &-digits {
      font-weight: bold;
      font-size: rem(32px);
    }

    &-gold {
      font-weight: bold;
    }

    @include mobile {
      order: 1;
      padding-left: 0;
      padding-right: 0;
      min-width: 0;
    }
  }

  &__discount {
    flex-shrink: 0;

    @include mobile {
      margin-bottom: 20px;
    }
  }

  @include mobile {
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
  }
}

.discount {
  position: relative;
  width: 100px;
  height: 100px;
  color: #fff;
  text-align: center;
  padding: 22px 0 0;

  svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
  }

  &__percent {
    font-weight: bold;
    font-size: rem(28px);
    position: relative;
  }

  &__text {
    font-size: rem(12px);
    position: relative;
  }
}

.advantages-list {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 70px;

  &__item {
    width: 285px;
    text-align: center;

    &:nth-child(2) {
      position: relative;

      &:before,
      &:after {
        position: absolute;
        content: '';
        left: 100%;
        top: 35px;
        width: 50px;
        height: 1px;
        background-color: $grey;
      }

      &:after {
        left: auto;
        right: 100%;
      }
    }

    @include tablet-l {
      width: 260px;
    }

    @include tablet-p {
      margin: 0 20px 50px;

      &:nth-child(2) {
        &:before,
        &:after {
          display: none;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__icon {
    height: 120px;

    &--1 {
      img {
        height: 70px;
      }
    }

    @include tablet-l {
      height: 85px;
    }
  }

  &__name {
    font-size: rem(22px);
    font-weight: bold;
    margin-bottom: 1ex;
  }

  @include tablet-p {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.details {
  padding: 15px 30px 15px 90px;
  background-color: $lightblue;
  border-radius: 5px;
  min-width: 345px;
  max-width: 350px;
  margin: 45px auto 0;
  position: relative;

  &:before {
    @include forsprite(21px, 21px);
    @include sprite($question);
  }

  &__head {
    font-size: rem(22px);
    font-weight: bold;
    margin-bottom: .43em;
  }

  &__pdf {
    position: relative;
    padding-left: 30px;
    font-size: rem(14px);
    color: $grey;

    &:before {
      @include forsprite(0, -2px);
      @include sprite($dl);
    }

    span {
      color: $blue;
      border-bottom: 1px dashed $blue;
      transition: all .15s;
    }

    &:hover {
      color: $grey;

      span {
        color: shade($blue, 10%);
        border-bottom: 1px dashed shade($blue, 10%);
      }
    }
  }

  @include mobile {
    padding-left: 30px;
    min-width: 0;
    max-width: 100%;

    &:before {
      display: none;
    }
  }
}
