.pageheader__left {
  picture {
    text-align: center;

    img {
      position: relative;
      left: 35px;
    }
  }
}

.pic-price {
  width: 145px;
  height: 145px;
  background-color: $yellow;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: $blue;
  font-size: 22px;
  left: 50%;
  transform: translateX(-50%);

  &--1 {
    top: 295px;
    margin-left: -140px;
  }

  &--2 {
    top: 246px;
    margin-left: 213px;
  }

  &__old-price {
    span {
      position: relative;

      &:after {
        position: absolute;
        content: ' ';
        left: -10%;
        width: 120%;
        height: 1px;
        top: 50%;
        background-color: $blue;
        transform: rotate(-13deg);
      }
    }
  }

  &__new-price {
    font-size: 47px;
    line-height: 45px;
    font-weight: bold;
  }

  &__currency {

  }
}
