@import "interface/pageheader";
@import "interface/pagefooter";
@import "interface/blocks/buttons";
@import "interface/blocks/accordion";
// @import "interface/blocks/collapsible";
// @import "interface/blocks/inputfile";
@import "interface/blocks/upbtn";
@import "interface/blocks/lists";
// @import "interface/blocks/tabs";
// @import "interface/blocks/navbar";

.ks-wrapper {
	background-color: #fff;
	max-width: 1350px;
	margin: 0 auto;
	background: #FFF;
	position: relative;
	box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1), -2px 0 4px rgba(0, 0, 0, 0.1);

	@include tablet-l {
		width: 1024px;
	}

	@include tablet-p {
		width: 768px;
	}

	@include mobile {
		width: auto;
	}
}

.center {
	width: 1050px;
	margin: 0 auto;

	@include tablet-l {
		width: 845px;
	}

	@include tablet-p {
		width: 610px;
	}

	@include mobile {
		width: auto;
		padding: 0 15px;
	}
}

a {
	color: $blue;
	text-decoration: none;
	transition: color .3s;

	&:hover {
		color: shade($blue, 20);
		transition: none;
	}
}

.sect-header {
	font-size: rem(32px);
	font-weight: bold;
	text-align: center;
	margin: 0 auto .7em;
	max-width: 670px;

	@include tablet-p {
		font-size: rem(30px);
	}

	@include mobile {
		font-size: rem(26px);
	}
}

.sub-head {
	font-size: rem(32px);
	font-weight: bold;
	margin-bottom: .7em;

	@include mobile {
		font-size: rem(20px);
	}
}

%section {
  padding: 50px 0;

  @include tablet-l {
    padding: 40px 0;
  }
}

.take-part,
.shops,
.details {
  @extend %section;
  background-color: #fff;
}

.shops {
  &__disclaimer {
    margin-top: 2em;
    text-align: center;
  }
}

.details {
  font-size: rem(18px);
  padding-top: 20px;
}

.guarantee-best {
  @extend %section;
  background-color: $lightblue;
}

.take-part {
  &__items {
    display: flex;
    justify-content: center;
    margin: 85px 0 0;

    @include tablet-p {
      flex-wrap: wrap;
      margin-top: 45px;
    }
  }

  &__item {
    width: 25%;
    margin: 0 25px;
    position: relative;
    text-align: center;

    & + & {
      &:before {
        position: absolute;
        content: '';
        top: 35px;
        height: 1px;
        width: 50px;
        background-color: $blue;
        left: -45px;
      }

      &:after {
        left: auto;
        right: -45px;
      }

      @include tablet-p {
        &:after, &:before {
          display: none;
        }
      }
    }

    &--noline:after {
      display: none;
    }

    p {
      max-width: 190px;
      margin: 0 auto;
    }

    @include tablet-p {
      margin: 0 5% 30px;
      width: 40%;
    }

    @include mobile {
      width: 70%;
      margin: 0 0 30px;
    }
  }

  &__icon {
    height: 120px;
    text-align: center;

    span {
      display: inline-block;
      vertical-align: top;
    }

    @include mobile {
      height: 85px;
    }
  }
}

.ic-house {
  @include sprite($tp1);
}

.ic-phone {
  @include sprite($tp2);
}

.ic-check {
  @include sprite($tp3);
}

.internet-gift {
  text {
    font-weight: bold;

    &.mb {
      font-size: 12px;
      font-weight: normal;
    }
  }
}

.guarantee-best {
  .center {
    max-width: 1210px;
    width: auto;
  }

  &__text {
    text-align: center;
    margin-top: 2em;

    @include tablet-p {
      font-size: rem(14px);
    }
  }
}
