/*

<section class="stores">
	<div class="stores__header">
		<div class="stores__search">
			<input v-model="search" type="text" placeholder="Вкажіть ваше місто">
		</div>
	</div>

	<div class="stores__viewport">
		<div class="accordion">
			<template class="accordion__item" v-for="(index, item) in packages | filterBy search in 'town' | sortByTown">
				<div class="accordion__head" :id="['accordion-header-' + index]">
					<div class="stores__location">{{ item.town }}</div>
					<div class="accordion__control">&nbsp;</div>
				</div>
				<div class="accordion__body" :id="['accordion-panel-' + index]">
					<div class="accordion__inner">
						<ul v-for="center in item.servicesCenters" class="ui-ul">
							<li class="address">{{ center.address }}</li>
						</ul>
					</div>
				</div>
			</template>
		</div>
	</div>

	<div class="stores__footer">
		<button v-if="!search.length" @click.prevent="showMore">
			<span class="slide-down">Показати ще</span>
			<span class="slide-up">Згорнути</span>
		</button>
	</div>
</section>

*/


.stores {
	max-width: 925px;
	margin: 0 auto;

  .accordion {
		border: 0;
    margin: 0;
  }

	&__header {
		padding: 0 0 0 20px;
		height: 74px;
		line-height: 70px;
		background-color: $blue;
		color: #fff;

		&:hover {
			background-color: $blue;
		}
	}

	&__search,
	&__name,
	&__location {
		display: inline-block;
		vertical-align: middle;
		font-size: rem(18px);
		line-height: 1.2;
	}

	&__search input {
		border: none;
		border-radius: 4px;
		width: 250px;
		padding: 10px 15px;
		font-size: rem(18px);
		color: #000;
	}

	&__footer {
		text-align: center;

    button {
  		height: 70px;
      width: 100%;
      background-color: #fff;
      border: 1px solid shade($lightblue, 5%);
      border-top: none;

  		&:hover {
  			background-color: #eff0f3;
  		}

      span {
        border-bottom: 1px dotted $blue;
        color: $blue;
        background: transparent;
    		position: relative;

				svg {
					position: absolute;
					left: -19px;
					top: 2px;
				}
      }

      .slide-up {
        display: none;

				svg {
					transform: rotate(180deg);
				}
      }

      .slide-down {
        display: inline;
      }

      &.disabled {
        .slide-up {
          display: inline;
        }

        .slide-down {
          display: none;
        }
      }
    }
	}

  &__viewport {
    border: 1px solid shade($lightblue, 5%);
    border-bottom: none;

		.accordion__head:nth-of-type(n+20) {
		  display: none;
		}
  }
}
