/* HTML-markup

<div class="accordion">
	<div id="accordion-header-1" class="accordion__head">Accordion head no. 1
		<div class="accordion__control">&nbsp;</div>
	</div>
	<div id="accordion-panel-1"class="accordion__body">
		<div class="accordion__inner">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolorum in rerum, quisquam facilis, eaque tempora! Sapiente rerum mollitia, nisi quasi incidunt distinctio, eligendi, vero temporibus impedit expedita itaque quibusdam. Voluptatem eligendi eos consectetur deleniti, quos vero culpa numquam debitis, quisquam tempora ipsum reiciendis tenetur consequuntur, error ab voluptates sunt?</div>
	</div>

	<div id="accordion-header-2"class="accordion__head">Accordion head no. 2
		<div class="accordion__control">&nbsp;</div>
	</div>
	<div id="accordion-panel-2"class="accordion__body">
		<div class="accordion__inner">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolorum in rerum, quisquam facilis, eaque tempora! Sapiente rerum mollitia, nisi quasi incidunt distinctio, eligendi, vero temporibus impedit expedita itaque quibusdam. Voluptatem eligendi eos consectetur deleniti, quos vero culpa numquam debitis, quisquam tempora ipsum reiciendis tenetur consequuntur, error ab voluptates sunt?</div>
	</div>

	<div id="accordion-header-3"class="accordion__head">Accordion head no. 3
		<div class="accordion__control">&nbsp;</div>
	</div>
	<div id="accordion-panel-3"class="accordion__body">
		<div class="accordion__inner">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolorum in rerum, quisquam facilis, eaque tempora! Sapiente rerum mollitia, nisi quasi incidunt distinctio, eligendi, vero temporibus impedit expedita itaque quibusdam. Voluptatem eligendi eos consectetur deleniti, quos vero culpa numquam debitis, quisquam tempora ipsum reiciendis tenetur consequuntur, error ab voluptates sunt?</div>
	</div>
</div>

*/

.accordion {
	margin: 1em auto;
	border: 1px solid shade($lightblue, 5%);
	border-bottom: none;

	&__head {
		position: relative;
		background-color: $lightblue;
		border-bottom: 1px solid shade($lightblue, 5%);
		font-weight: bold;
		font-size: rem(18px);
		display: block;
		color: $textcolor;
		transition: background-color .15s;
		padding: 20px 50px 20px 20px;
		cursor: default;

		&:hover {
			background-color: shade($lightblue, 5%);
			color: $textcolor;
			transition: none;

			.accordion__control {
				background-color: $textcolor;
				transition: none;
			}
		}

		&[aria-expanded=true] {
			.accordion__control:before {
				display: none;
			}
		}
	}

	&__body {
		&[aria-hidden="true"] {
			visibility: hidden;
			height: 0;
		}

		&[aria-hidden="false"] {
			visibility: visible;
			border-bottom: 1px solid shade($lightblue, 5%);
		}

		@at-root .accordion--is-ready & {
			overflow: hidden;
		}
	}

	&__inner {
		padding: 20px 30px 20px 20px;
		background-color: #fff;
		font-size: rem(14px);

		p + p {
			margin-top: 1em;
		}
	}

	&__item:last-child .accordion__head {
		border-bottom: 0;
	}

	&__control {
		position: absolute;
		top: 20px;
		right: 20px;
		width: 17px;
		height: 17px;
		border-radius: 3px;
		background-color: #acb2b7;
		transition: background-color .15s;

		&:after,
		&:before {
			content: " ";
			display: block;
			position: absolute;
			top: 8px;
			left: 4px;
			width: 9px;
			height: 1px;
			background-color: #fff;
		}

		&:before {
			width: 1px;
			height: 9px;
			top: 4px;
			left: 8px;
		}
	}
}
