@if variable-exists(lang-icon) {
    // <div class="lang">
    //   <div class="lang__current">
    //     Укр
    //     <svg width="10px" height="5px" class="lang__marker">
    //       <polyline stroke="white" fill="none" points="0,0 5,5 10,0" />
    //     </svg>
    //   </div>
    //   <div class="lang__dd">
    //     <a href="#" class="lang__item">Рус</a>
    //   </div>
    // </div>

  .lang {
    float: right;
    font-size: rem(13px);
    position: relative;
    height: 2em;

    &__current {
      padding: 5px 17px 5px 31px;
      color: #fff;
      position: relative;
      cursor: default;

      &:before {
        @include forsprite(5px, 4px);
        @include sprite($lang-icon);
      }
    }

    &__marker {
      position: absolute;
      right: 0;
      top: 11px;
    }

    &__dd {
      display: none;
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;

      @at-root .lang:hover & {
        display: block;
      }

      @at-root .lang.focus & {
        display: block;
      }

      @at-root .lang.focus & {
        display: block;
      }
    }

    &__item {
      display: block;
      text-decoration: none;
      background-color: #fff;
      padding: 7px 17px 7px 31px;
      position: relative;
      border-radius: 3px;

      &:before { @extend .lang__current:before; top: 6px; }
    }
  }
} @else {
  // .lang>.lang__item.active+a.lang__item
  .lang {
    font-size: rem(14px);
    float: right;

    &__item {
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      opacity: .7;
      padding-top: 33px;
      margin-top: -$header-tb-padding;
      display: inline-block;
      vertical-align: top;
      position: relative;
      transition: opacity .3s;

      &:before {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 3px;
        background-color: transparent;
        transition: opacity .3s;
        opacity: 0;
      }

      &:hover {
        opacity: 1;
        color: #fff;
      }

      &:active {
        &:before {
          background-color: #fff;
          opacity: .6;
        }
      }

      & + & {
        margin-left: 25px;

        @include mobile {
          margin-left: 15px;
        }
      }

      &.active {
        opacity: 1;
        position: relative;
        cursor: default;

        &:before {
          opacity: 1;
          background-color: $yellow;
        }
      }
    }
  }
}
