.ui-ul {
	margin: 1em 0;

	li {
		padding: 0 0 0 25px;
		position: relative;

		&:before {
			$size: 8px;
			position: absolute;
			content: '';
			left: -$size/2;
			top: 6px;
			@include size($size);
			border-radius: 50%;
			background-color: $blue;
		}

		& + li {
			margin-top: .7em;
		}
	}
}

.ui-ol {
	margin: 1em 0;
	counter-reset: custom-ol;

	li {
		padding: 0 0 0 25px;
		position: relative;

		&:before {
			$size: 25px;
			position: absolute;
			@include size($size);
			line-height: $size;
			font-weight: bold;
			background-color: $yellow;
			text-align: center;
			border-radius: 50%;
			left: -$size/2;
			top: -3px;
			font-size: rem(14px);
			content: counter(custom-ol);
			counter-increment: custom-ol;
		}

		& + li {
			margin-top: .7em;
		}
	}
}
