.logo {
  display: block;
  width: 174px;
  height: 44px;

  svg {
    width: 100%;
  }

  &__dots {
    transition: transform .3s;
    fill: #fdda24;

    @at-root .logo:hover &--left {
      transform: translateX(13px);
    }

    @at-root .logo:hover &--right {
      transform: translateX(-13px);
    }
  }

  &__letter {
    fill: #fff;
  }


  // logo for shop's landings; use logo-star.svg

  // &--shop {
  //   position: relative;
  //   width: auto;
  //   height: auto;
  //   min-height: 56px;
  // display: inline-block;
  // vertical-align: top;
  //
  //   svg {
  //     width: 45px;
  //     height: 44px;
  //     display: inline-block;
  //     vertical-align: middle;
  //   }
  //
  //   .logo__text {
  //     color: $yellow;
  //     display: inline-block;
  //     vertical-align: middle;
  //     border-left: 1px solid $yellow;
  //     font-size: rem(12px);
  //     font-weight: bold;
  //     padding-left: 20px;
  //     line-height: .95;
  //     margin-left: 18px;
  //
  //     span {
  //       font-size: rem(24px);
  //       display: block;
  //     }
  //
  //     @include mobile {
  //       display: none;
  //     }
  //   }
  //
  //   @include mobile {
  //     min-height: 44px;
  //   }
  // }


  // big logo w/ star on first line and letters on second; use logo-big.svg

  &--big {
    height: 180px;

    .logo__letter {
      fill: #fff;
    }

    @at-root .logo--big:hover .logo__dots--left {
      transform: translateX(22px);
    }

    @at-root .logo--big:hover .logo__dots--right {
      transform: translateX(-22px);
    }
  }

  &--header-right {
    display: none;
    height: auto;
    margin-bottom: 15px;

    @include tablet-l {
      display: block;
    }
  }
}
