.up-btn {
	position: fixed;
	bottom: 60px;
	right: 60px;
	@include size(55px);
	background-color: $blue;
	border: none;
	border-radius: 50%;
	will-change: transform;
	transform: scale(0);
	opacity: 0;
	transition: transform .2s, background-color .2s, opacity .12s;
  transition-timing-function: cubic-bezier(0.18, 0.78, 0.7, 1);
	font-size: 0;
	z-index: 100;

	&.active {
		transform: scale(1);
		opacity: 1;
	}

	&:focus {
		outline: 0;
		box-shadow: 0 0 7px $blue;
	}

	&:active {
		transform: translate3d(0, 3px, 0);
	}

	&:hover {
		background-color: $yellow;

		&:before,
		&:after {
			background-color: $textcolor;
		}
	}

	&:before,
	&:after {
		position: absolute;
		content: '';
		width: 20px;
		height: 4px;
		border-radius: 2px;
		background-color: #fff;
		transform: rotate(-45deg);
		transform-origin: 0 50%;
		transition: background-color .15s;
	  transition-timing-function: cubic-bezier(0.18, 0.78, 0.7, 1);
		left: 15px;
		top: 30px;
	}

	&:after {
		transform: rotate(45deg);
		transform-origin: 100% 50%;
		right: 15px;
		left: auto;
	}

	@include tablet-l {
		right: 50px;
	}

	@include mobile {
		display: none;
	}
}
